<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
<header>
    <h1><%= __('main-page.header1') %></h1>
    <img src="/images/logo.png" alt="Car Service Logo">
</header>
<nav>
    <ul>
        <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : '' %>">PL</a></li>
        <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : '' %>">EN</a></li>
    </ul>

    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>"><%= __('nav.main') %></a></li>
        <% if(loggedUser) { %>
            <li><a href="/car" class="<%= navLocation == 'cars' ? 'active' : '' %>"><%= __('nav.cars') %></a></li>
            <li><a href="/serviceappointment"
                   class="<%= navLocation == 'serviceappointment' ? 'active' : '' %>"><%= __('nav.serviceappointment') %></a>
            </li>
            <% if(loggedUserType === "Mechanic") { %>
                <li><a href="/partsOrder/mechaniclist"
                       class="<%= navLocation == 'partsOrders' ? 'active' : '' %>"><%= __('nav.partsOrder') %></a></li>
            <% } %>
            <% if (loggedUserType === 'Manager'){ %>
                <li><a href="/mechanics"
                       class="<%= navLocation == 'mechanics' ? 'active' : '' %>"><%= __('nav.mechanics') %></a></li>
                <li><a href="/partsOrder"
                       class="<%= navLocation == 'partsOrders' ? 'active' : '' %>"><%= __('nav.partsOrder') %></a></li>
                <li><a href="/managers"
                       class="<%= navLocation == 'managers' ? 'active' : '' %>"><%= __('nav.managers') %></a></li>
        <% }} %>
    </ul>
</nav>
<% if(!loggedUser) { %>
    <div id="login">
        <h5>Log in</h5>
        <form method="post" action="/login" novalidate>
            <label for="loginPhone">Phone:</label>
            <input type="text" id="loginPhone" name="phone">

            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="password">

            <input type="submit" value="Sign in">
            <span id="loginErrors"><%= loginError ? loginError : '' %></span>
        </form>
    </div>
<% } else { %>
    <span><%= __('main-page.loggedas')+loggedUser.firstName + " " + loggedUser.lastName + " " %></span>
    <a href="/logout">Sign out</a>
<% } %>