<%- include('../../fragment/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationMechanicForm.js"></script>
    <h2><%= pageTitle %>></h2>
    <p>Fields with * are required.</p>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= mechanic._id %>">

        <label for="firstName">Name: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" value="<%= mechanic.firstName %>" placeholder="2-60 characters"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                class="<%= validationErrors.find(e=>e.path.includes('firstName')) ? 'error-input' : ''%>">
        <span id="errorFirstName" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
        </span>

        <label for="lastName">Surname: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" value="<%= mechanic.lastName %>" placeholder="2-60 characters"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('lastName')) ? 'error-input' : ''%>">
        <span id="errorLastName" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>

        <label for="salary">Salary: <span class="symbol-required">*</span></label>
        <input type="text" name="salary" id="salary" value="<%= mechanic.salary %>" placeholder="200-1,000,000"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('salary')) ? 'error-input' : ''%>">
        <span id="errorSalary" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('salary'))) { %>
                <%= validationErrors.find(e => e.path.includes('salary')).message %>
            <% } %>
        </span>

        <div class="form-buttons">
            <p id="errorSummary" class="error-text"></p>
            <% if (formMode == 'showDetails') { %>
                <a href="/mechanics/edit/<%= mechanic._id %>" class="button-edit">Edit</a>
                <a class="form-button-cancel" href="/mechanics">Return</a>
            <% } else { %>

                <input class="form-button-submit" type="submit" value="<%= btnLabel %>">
                <a class="form-button-cancel"
                   href="/mechanics">Cancel</a>
            <% } %>
        </div>
    </form>
    <% if (formMode == 'showDetails' || formMode =='edit') { %>
        <h2>Service appointment details</h2>
        <table class="table-list">

            <tr>
                <th>Customer Name</th>
                <th class="tablehide">Price</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th class="tablehide">Discount</th>
            </tr>
            <tbody>
            <% for (let a of mechanic.service ) { %>
            <tr>
                <td><%= a.car.customerName %></td>

                <td class="tablehide"><%= a.price %></td>
                <td><%= a.date %></td>
                <td><%= a.timeslot %></td>
                <td class="tablehide"><%= a.discount %>%</td>
            </tr>
            <% } %>
            </tbody>

        </table>
    <% } %>
</main>
<%- include('../../fragment/footer.ejs') %>