<%- include('../../fragment/header.ejs') %>
<main>
    <h2><%= __('mechanic.list.title')%></h2>
    <table class="table-list">
        <tr>
            <th><%= __('mechanic.fields.name')%></th>
            <th><%= __('mechanic.fields.surname')%></th>
            <th><%= __('mechanic.fields.salary')%></th>
            <th><%= __('mechanic.fields.phone')%></th>
            <th><%= __('list.actions.title')%></th>
        </tr>
        <tbody>
        <% for (let mechanic of mechanics) { %>
            <tr>
                <td><%= mechanic.firstName %></td>
                <td><%= mechanic.lastName %></td>
                <td><%= mechanic.salary %></td>
                <td><%= mechanic.phone %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/mechanics/details/<%= mechanic._id%>"
                               class="list-actions-button-details"><%= __('list.actions.details')%></a>
                        </li>
                        <li>
                            <a href="/mechanics/edit/<%= mechanic._id%>"
                               class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
                        </li>
                        <li>
                            <a href="/mechanics/delete/<%= mechanic._id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
                        </li>
                    </ul>
                </td>

            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/mechanics/add" class="button-add"><%= __('mechanic.list.addNew')%></a></p>
</main>
<%- include('../../fragment/footer.ejs') %>