<%- include('../../fragment/header.ejs') %>
<main>
    <h2><%= __('manager.list.title')%></h2>
    <table class="table-list">
        <tr>
            <th><%= __('manager.fields.name')%></th>
            <th><%= __('manager.fields.surname')%></th>
            <th><%= __('manager.fields.salary')%></th>
            <th><%= __('manager.fields.phone')%></th>
            <th><%= __('list.actions.title')%></th>

        </tr>
        <tbody>
        <% for (let manager of managers) { %>
            <tr>
                <td><%= manager.firstName %></td>
                <td><%= manager.lastName %></td>
                <td><%= manager.salary %></td>
                <td><%= manager.phone %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/managers/details/<%= manager._id%>"
                               class="list-actions-button-details"><%= __('list.actions.details')%></a>
                        </li>
                        <li>
                            <a href="/managers/edit/<%= manager._id%>"
                               class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
                        </li>
                        <li>
                            <a href="/managers/delete/<%= manager._id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
                        </li>
                    </ul>
                </td>

            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/managers/add" class="button-add"><%= __('manager.list.addNew')%></a></p>
</main>
<%- include('../../fragment/footer.ejs') %>