<%- include('../../fragment/header.ejs') %>
<main>
    <h2><%= __('serviceappointment.list.title')%></h2>
    <table class="table-list">
        <tr>
            <th class="tablehide"><%= __('serviceappointment.fields.customername')%></th>
            <th class="tablehide"><%= __('serviceappointment.fields.mechanicname')%></th>
            <th><%= __('serviceappointment.fields.mechanicsurname')%></th>
            <th class="tablehide"><%= __('serviceappointment.fields.price')%></th>
            <th><%= __('serviceappointment.fields.Date')%></th>
            <th><%= __('serviceappointment.fields.Time')%></th>
            <th class="tablehide"><%= __('serviceappointment.fields.Discount')%></th>
            <th><%= __('list.actions.title')%></th>
        </tr>
        <tbody>
        <% for (let appt of serviceAppointment) { %>
            <tr>
                <td class="tablehide"><%=appt.car.customerName%></td>
                <td class="tablehide"><%= appt.mechanic.firstName%></td>
                <td><%= appt.mechanic.lastName%></td>
                <td class="tablehide"><%=appt.price%></td>
                <td><%=appt.date%></td>
                <td><%=appt.timeslot%></td>
                <td class="tablehide"><%=appt.discount%>%</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/serviceappointment/details/<%=appt._id%>"
                               class="list-actions-button-details"><%= __('list.actions.details')%></a>
                        </li>
                        <li>
                            <a href="/serviceappointment/edit/<%=appt._id%>"
                               class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
                        </li>
                        <li>
                            <a href="/serviceappointment/delete/<%=appt._id%>"
                               class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
                        </li>
                    </ul>
                </td>

            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/serviceappointment/add" class="button-add"><%= __('serviceappointment.list.addNew')%></a></p>
</main>
<%- include('../../fragment/footer.ejs') %>