<%- include('../../fragment/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCarForm.js"></script>
    <h2><%= pageTitle %></h2>
    <p>Fields with * are required.</p>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <div style="display: none">
            <span id="error-emptyString"><%= __('error.emptyString')%></span>
            <span id="error-stringLen2to60"><%= __('error.stringLen2to60')%></span>
            <span id="error-stringLen2to10"><%= __('error.stringLen2to10')%></span>
            <span id="error-notAPhone"><%= __('error.notAPhone')%></span>
            <span id="error-notANumber"><%= __('error.notANumber')%></span>
            <span id="error-number200to1000000"><%= __('error.number200to1000000')%></span>
            <span id="error-notADate"><%= __('error.notADate')%></span>
            <span id="error-notATime"><%= __('error.notATime')%></span>
            <span id="error-number0to100"><%= __('error.number0to100')%></span>
            <span id="error-number1to1000"><%= __('error.number1to1000')%></span>
            <span id="error-summary"><%= __('error.summary')%></span>
        </div>



        <input type="hidden" name="_id" value="<%= car._id %>">

        <label for="manufacturer">Manufacturer: <span class="symbol-required">*</span></label>
        <input type="text" name="manufacturer" id="manufacturer" placeholder="2-60 characters"
               value="<%= car.manufacturer %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('manufacturer')) ? 'error-input' : ''%>"/>
        <span id="errorManufacturer" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('manufacturer'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('manufacturer')).message) %>
            <% } %>
        </span>

        <label for="model">Model: <span class="symbol-required">*</span></label>
        <input type="text" name="model" id="model" placeholder="2-60 characters" value="<%= car.model %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('model')) ? 'error-input' : ''%>"/>
        <span id="errorModel" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('model'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('model')).message)%>
            <% } %>
        </span>

        <label for="plates">Plates: <span class="symbol-required">*</span></label>
        <input type="text" name="plates" id="plates" value="<%= car.plates %>" placeholder="2-10 characters"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('plates')) ? 'error-input' : ''%>">
        <span id="errorPlates" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('plates'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('plates')).message) %>
            <% } %>
        </span>

        <label for="phone">Phone: <span class="symbol-required">*</span></label>
        <input type="text" name="phone" id="phone" value="<%= car.phone %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('phone')) ? 'error-input' : ''%>" placeholder="+48123123123 or 534534534">
        <span id="errorPhone" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('phone'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('phone')).message) %>
            <% } %>
        </span>

        <label for="customerName">Name of the customer: <span class="symbol-required">*</span></label>
        <input type="text" name="customerName" id="customerName" value="<%= car.customerName %>" placeholder="2-60 characters"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e=>e.path.includes('customerName')) ? 'error-input' : ''%>">
        <span id="errorCustomerName" class="error-text">
            <% if(validationErrors.find(e => e.path.includes('customerName'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('customerName')).message) %>
            <% } %>
        </span>

        <div class="form-buttons">

            <p id="errorSummary" class="error-text"></p>
            <% if (formMode == 'showDetails') { %>
                <a href="/car/edit/<%= car._id %>" class="button-edit">Edit</a>
                <a class="form-button-cancel" href="/car">Return</a>
            <% } else { %>

                <input class="form-button-submit" type="submit" value="<%= btnLabel %>">
                <a class="form-button-cancel"
                   href="/car">Cancel</a>
            <% } %>
        </div>
    </form>

    <% if (formMode == 'showDetails' || formMode=='edit') { %>
        <h2>Service appointment details</h2>
        <table class="table-list">

            <tr>
                <th class="tablehide">Mechanic name</th>
                <th>Mechanic surname</th>
                <th class="tablehide">Price</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th class="tablehide">Discount</th>
            </tr>
            <tbody>
            <% for (let a of car.service) { %>
            <tr>
                <td class="tablehide"><%= a.mechanic.firstName %></td>
                <td><%= a.mechanic.lastName %></td>
                <td class="tablehide"><%= a.price %></td>
                <td><%= a.date %></td>
                <td><%= a.timeslot %></td>
                <td class="tablehide">
                    <%= a.discount %>
                    %
                </td>
            </tr>
            <% } %>
            </tbody>

        </table>
    <% } %>
</main>
<%- include('../../fragment/footer.ejs') %>