<%- include('../../fragment/header.ejs') %>
<main>
    <h2><%= __('car.list.title')%></h2>
    <table class="table-list">
        <tr>
            <th class="tablehide"><%= __('car.fields.manufacturer')%></th>
            <th><%= __('car.fields.model')%></th>
            <th><%= __('car.fields.plates')%></th>
            <th><%= __('car.fields.phone')%></th>
            <th class="tablehide"><%= __('car.fields.name')%></th>
            <th><%= __('car.fields.actions')%></th>
        </tr>
        <tbody>
        <% for (let car of cars) { %>
            <tr>
                <td class="tablehide"><%= car.manufacturer %></td>
                <td><%= car.model %></td>
                <td><%= car.plates %></td>
                <td><%= car.phone %></td>
                <td class="tablehide"><%= car.customerName%></td>

                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/car/details/<%=car._id%>"
                               class="list-actions-button-details"><%= __('list.actions.details')%></a>
                        </li>
                        <li>
                            <a href="/car/edit/<%=car._id%>"
                               class="list-actions-button-edit"><%= __('list.actions.edit')%></a>
                        </li>
                        <li>
                            <a href="/car/delete/<%=car._id%>"
                               class="list-actions-button-delete"><%= __('list.actions.delete')%></a>
                        </li>
                    </ul>
                </td>

            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/car/add" class="button-add"><%= __('car.list.addNew')%></a></p>
</main>
<%- include('../../fragment/footer.ejs') %>